.main{
    display: flex;
    max-width: 1280px;
    margin: 8px auto;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - 80px);
    gap: 10px;
    background-color: aliceblue;
    
}

.main_image img{
    max-width: 100%;
    width: 70vh;
    border-radius: 100%;
}
.main-content{
    flex: 1;
}
.main-content h1{
    line-height: 105px;
    font-weight: 800;
    font-size: 100px;
}

.main-content p{
    margin-top: 20px;
    font-size: 30px;
    font-weight: 600;
    color: gray;
}

.hero-btn {
    height: 100px;
    gap: 15px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.hero-btn button{
    border: 2px solid gray;
    border-radius: 2px;
    height: 35px;
    width: 80px;
    font-size: 15px;
    font-weight: 600;
    padding: 3px 10px;
    color: white;
    border-radius: 3px;
    background-color: rgb(243, 52, 52);
}

 button:hover{
    cursor: pointer;
    background: transparent;
    color: black;
}

@media screen and (max-width:1270px) {
    .main-content{
        display: flex;
        flex-direction: column;
    }
    .main{
        flex-direction: column;
        height: auto;
    }
    .main_image{
        display: flex;
        flex-direction: column;
        /* width: 50vh; */
        align-items: center;
    }
    .main-content h1{
        justify-content: center;
        font-size: 24px;
        margin-bottom: 0;
    }
    .main-content p{
        margin-top: 0;
        font-size: 16px;
    }
    .hero-btn {
        justify-content: center;
    }
}